## Оглавление
1. [Задача 1](#task1)
2. [Задача 2](#task2)
3. [Задача 3](#task3)

## Задача 1
<a id='task1'></a>
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

### В этом задании есть файлы, с которыми я работаю
### Нужно ли эти файлы как-то тоже загружать на github репозиторий, чтобы код правильно работал у Вас?

In [15]:
ds = pd.read_csv(r'C:\Users\aydem\Desktop\Netology_Homeworks\Netology_Homeworks\Pandas\ml-latest-small\ratings.csv')
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [19]:
ds_names = pd.read_csv(r'C:\Users\aydem\Desktop\Netology_Homeworks\Netology_Homeworks\Pandas\ml-latest-small\movies.csv')
ds_names[ds_names['movieId']==318]['title']

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задача 2
<a id='task2'></a>
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
o['country'].unique()

In [57]:
power = pd.read_csv(r'C:\Users\aydem\Desktop\Netology_Homeworks\Netology_Homeworks\Pandas\power.csv')
power.head(10)
filtered_countries = power[ (power['country']=='Litva') | (power['country']=='Latvia') | (power['country']=='Estonia')]
filtered_category = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21)]
filtered_period = filtered_category[(filtered_category['year']>=2005)&(filtered_category['year']<=2010)]
filtered_period['quantity'].sum()

118284.0

## Задача 3
<a id='task3'></a>
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [61]:
pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  86.21       -0.0          -0.0        NaN
1       USDRUB Курс рубля к доллару  73.15        0.0           0.0        NaN

In [62]:
pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,76.09,0.01,0.01,NaN
1,Нефть WTI Цены на нефть WTI,75.10,0.04,0.05,NaN
2,Природный газ Цена на природный газ,3.69,-0.01,-0.16,NaN
3,Кофе,153.05,0.00,0.00,NaN
4,Кукуруза,591.40,-0.60,-0.10,NaN
5,Соя,378.00,-2.40,-0.63,NaN
6,Хлопок,86.97,0.00,0.00,NaN

In [63]:
pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[2]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 787       -0.0          -0.0        NaN
1  Серебро Цена на серебро на бирже  26.45        0.0           0.0        NaN
2         Палладий Цена на Палладий  2 785       -4.0          -0.0        NaN
3           Платина Цены на платину  1 090       -1.0          -0.0        NaN
4           Медь Цена меди на бирже   4.28        0.0           0.0        NaN

In [64]:
pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[4]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Google Акции Google (GOOGL),2 504.25,-0.90,-0.04,NaN
1,IBM Акции IBM (IBM),140.20,0.18,0.13,NaN
2,Microsoft Акции Майкрософт (MSFT),277.50,-0.15,-0.05,NaN
3,Apple Акции Apple (AAPL),139.83,-0.13,-0.09,NaN
4,Yandex Акции яндекса,71.09,-0.23,-0.32,NaN
5,Toyota Акции Тойоты,174.50,-1.53,-0.87,NaN
6,Volkswagen Курс акций Volkswagen,211.45,0.15,0.07,NaN
7,Amazon Акции Amazon (AMZN),3 510.01,-0.97,-0.03,NaN
8,Boeing Акции Boeing Company,236.69,0.01,0.00,NaN
9,Intel Акции Intel (INTC),56.63,-0.13,-0.23,NaN
10,Coca-Cola Акции Coca-Cola,54.13,-0.05,-0.09,NaN
11,Netflix Акции Netflix (NFLX),533.44,-0.54,-0.10,NaN
12,Pfizer Акции Pfizer (PFE),39.67,-0.06,-0.15,NaN
13,AMD Акции AMD,94.65,-0.05,-0.05,NaN
14,Walt Disney Акции Walt Disney (DIS),177.00,-0.11,-0.06,NaN
15,NVIDIA Акции NVIDIA (NVDA),819.00,-0.48,-0.06,NaN
16,PayPal Акции PayPal (PYPL),289.24,-1.00,-0.34,NaN
17,Facebook Акции Facebook (FB),354.50,-0.20,-0.06,NaN
18,Tesla Акции Тесла (TSLA),677.26,-1.64,-0.24,NaN
19,Twiter Цена акций твитера,69.12,-0.08,-0.12,NaN
20,"Hasbro Цена на акции Hasbro, Inc.",94.25,-2.40,-2.48,NaN
21,Сименс,133.96,0.10,0.07,NaN
22,Qiwi,10.61,-0.03,-0.28,NaN
23,Mastercard Акции Mastercard (МА),374.87,-0.16,-0.04,NaN
24,Moderna Акции Модерна (MRNA),233.55,-0.75,-0.32,NaN
25,Макдональдс Акции Макдональдс,233.08,-0.55,-0.24,NaN
26,MSCI,503.40,-38.51,-7.11,NaN
27,FIXPRICE,8.77,0.00,0.00,NaN
28,Zoom Акции Zoom (ZM),386.38,-2.51,-0.65,NaN
29,HeadHunter Акции HeadHunter (HH),38.00,-5.05,-11.73,NaN